
<div class="card">
  <div class="card-header bg-info text-dark"></div>

  <div class="card-body  ">

    <div class="col-md-5 mx-auto">
      <label>TypeCourrier </label>
      <input type="text" class="form-control" [(ngModel)]="courrier.typeCourrier">
    </div>


    <div class="col-md-5 mx-auto ">
      <label>Coordinateur </label>
      <input type="text" class="form-control" [(ngModel)]="courrier.coordinateur">
    </div>


    <div class="col-md-5 mx-auto">
      <label>SousDossier </label>
      <input type="text" class="form-control" [(ngModel)]="courrier.sousDossier">
    </div>

    <div class="col-md-5 mx-auto">
      <label>Ref </label>
      <input type="text" class="form-control" [(ngModel)]="courrier.ref">
    </div>

    <div class="col-md-5 mx-auto">
      <label>Annee </label>
      <input type="text" class="form-control" [(ngModel)]="courrier.annee">
    </div>
 <div class="col-md-5 mx-auto">
      <label>Indice </label>
      <input type="text" class="form-control" [(ngModel)]="courrier.indice">
    </div>

    <div class="col-md-5 mx-auto">
      <label>NumOrder </label>
      <input type="text" class="form-control" [(ngModel)]="courrier.numOrder">
    </div>


    <div class="col-md-5 mx-auto">
      <label>DateCourrier </label>
      <input type="text" class="form-control" [(ngModel)]="courrier.dateCourrier">
    </div>

    <div class="col-md-5 mx-auto">
      <label>Objet </label>
      <input type="text" class="form-control" [(ngModel)]="courrier.objet">
    </div>

    <div class="col-md-5 mx-auto">
      <label>SousThème </label>
      <input type="text" class="form-control" [(ngModel)]="courrier.sousTheme">
    </div>

    <div class="col-md-5 mx-auto">
      <label>CategorieCourrier </label>
      <input type="text" class="form-control" [(ngModel)]="courrier.categorieCourrier">
    </div>

    <div class="col-md-5 mx-auto">
      <label>Expéditeur </label>
      <input type="text" class="form-control" [(ngModel)]="courrier.expediteur">
    </div>


    <div class="col-md-5 mx-auto">
      <label>TypeExpediteur </label>
      <input type="text" class="form-control" [(ngModel)]="courrier.typeExpediteur">
    </div>
  </div>


  <div class="card-footer mx-auto">
    <button class="btn btn-outline-dark btn-block"> <i class="fa fa-plus-square-o" aria-hidden="true"></i> Ajouter </button>
  </div>
</div>
