
<div class="card">
  <div class="card-header bg-info text-dark"></div>
  <div class="card-body ">

    <div class="col-md-5 mx-auto">
      <label>Courrier </label>
      <input type="text" class="form-control" [(ngModel)]="traitementCourrier.courrier">
    </div>


    <div class="col-md-5 mx-auto">
      <label>Libelle </label>
      <input type="text" class="form-control" [(ngModel)]="traitementCourrier.libelle">
    </div>

    <div class="col-md-5 mx-auto">

      <label>DateTraitement </label>
      <input type="text" class="form-control" [(ngModel)]="traitementCourrier.dateTraitement">
    </div>
    <div class="col-md-5 mx-auto">
      <label>Responsable</label>
      <input type="text" class="form-control" [(ngModel)]="traitementCourrier.responsable">
    </div>
    <div class="col-md-5 mx-auto">
      <label>EntiteAdmin </label>
      <input type="text" class="form-control" [(ngModel)]="traitementCourrier.entiteAdmin">
    </div>
  </div>
  <div class="card-footer mx-auto">
    <button class="btn btn-outline-dark btn-block"><i class="fa fa-check" aria-hidden="true"></i> Valider </button>
  </div>
</div>


