<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark " >
  <div class="container-fluid">
    <a class="navbar-brand fa fa-fw fa-lg fa-home" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="creer-courrier" routerLinkActive="active"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> Courrier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="consigne-courrier" routerLinkActive="active"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Consigne </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="traitement-courrier" routerLinkActive="active"><i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
            <span class="sr-only"></span>Traitement  </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="service-traitant" routerLinkActive="active"><i class="fa fa-server" aria-hidden="true"></i> Service Traitant  </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " routerLink="liste-courrier" routerLinkActive="active"><i class="fa fa-list-ol" aria-hidden="true"></i>
            Liste Courrier </a>
        </li>

      </ul>
      <span class="navbar-text">

      </span>
    </div>
  </div>
</nav>
