
<div class="card">
  <div class="card-header bg-info text-dark"></div>

  <div class="card-body">

    <div class="col-md-5 mx-auto">
      <label>Courrier </label>
      <input type="text" class="form-control" [(ngModel)]="consigneCourrier.courrier">
    </div>


    <div class="col-md-5 mx-auto">
      <label>Libelle </label>
      <input type="text" class="form-control" [(ngModel)]="consigneCourrier.libelle">
    </div>


    <div class="col-md-5 mx-auto">
      <label>DateConsigne </label>
      <input type="text" class="form-control" [(ngModel)]="consigneCourrier.dateConsigne">
    </div>

    <div class="col-md-5 mx-auto">
      <label>Responsable </label>
      <input type="text" class="form-control" [(ngModel)]="consigneCourrier.responsable">
    </div>

    <div class="col-md-5 mx-auto">
      <label>Entiteadmin </label>
      <input type="text" class="form-control" [(ngModel)]="consigneCourrier.entiteadmin">
    </div>






  </div>


  <div class="card-footer mx-auto">
    <button class="btn btn-outline-dark btn-block"><i class="fa fa-check" aria-hidden="true"></i> Valider </button>
  </div>
</div>

